<div>
  <br><br>
  <strong><%= link_to message.user.firstname, "/user/#{message.user.username}" %></strong><span style = "font-size:10px; color:rgb(160,160,160)"> <%= message.created_at %></span><br>
  <p style = "color:rgb(100,100,100); font-size:18px; margin-left: 10px; margin-top:5px;"><%= message.body %> </p>


  <% if message.image.exists? %>
      <p style = "color:gray"><span class = "panel"><%= message.user.firstname%> sent an image <span class = "glyphicon glyphicon-picture"></span></span> </p>
    <%= image_tag message.image.url(:medium) , class: 'image-class'  %>

  <% end %>
  </div>

