<%= simple_form_for @pin, html: { multipart: true} do |f| %>
  <% if @pin.errors.any? %>
    <div id="errors">
      <h2>
        <%= pluralize(@pin.errors.count, "error") %>
        prevented this Pin from saving
      </h2>
      <ul>
        <% @pin.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.input :image, input_html: { class: 'form-control' }, multiple: true, name: "pin[image]" %>
  </div>
    <div class="form-group">

      <%= f.input :video_file,  input_html: { class: 'form-control' }, direct: true %>
    </div>

    <div class="form-group">
      <%= f.input :document, input_html: { class: 'form-control' } %>
    </div>
    <div class = "controls">
      <%= f.select(:subject, options_for_select([['', ''],['Math', 'Math'], ['English', 'English'], ['Science', 'Science'], ['History', 'History'], ['Geography', 'Geography'], ['Physics', 'Physics'], ['Chemistry', 'Chemistry'], ['Biology', 'Biology'], ['Algebra', 'Algebra'], ['Social Studies', 'Social Studies'], ['Art', 'Art'], ['Physical Education', 'Physical Education'], ['Economics', 'Economics'], ['Writing', 'Writing'], ['Astronomy', 'Astronomy'], ['Mechanics', 'Mechanics'], ['Language', 'Language'], ['ICT', 'ICT'], ['Religious Education', 'Religious Education'], ['Logic', 'Logic'], ['Music', 'Music'], ['Psychology', 'Psychology'], ['Sexual Education', 'Sexual Education'], ['Computer Science', 'Computer Science'], ['General Business', 'General Business'], ['Ethics', 'Ethics'], ['Foreign Languages', 'Foreign Languages'], ['Computers', 'Computers'], ['Greek', 'Greek'], ['Reading', 'Reading'], ['Life Skills', 'Life Skills'], ['Drama', 'Drama'], ['Handwriting', 'Handwriting'], ['Food Tech', 'Food Tech'], ['Cooking Class', 'Cooking Class'], ['Gym', 'Gym'], ['Drivers Education', 'Drivers Education'], ['German', 'German'], ['Urdu', 'Urdu'], ['Human Relations', 'Human Relations'], ['Design And Technology', 'Design And Technology'], ['French', 'French'], ['Values Education', 'Values Education'], ['Accounting', 'Accounting'], ['Philosophy', 'Philosophy'], ['Home Economics', 'Home Economics'],  ['Health', 'Health'], ['Media Studies', 'Media Studies']])) %>
    </div>
  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :description, input_html: { class: 'form-control' } %>
  </div>

  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
