<%= render 'nav' %>


<div  class="transitions-enabled" id="pins">
  <% @pins.each do |pin| %>
      <div class="box panel panel-default">
        <%= link_to (image_tag pin.image.url), pin %>
        <div class="panel-body">
          <h2>
            <%= link_to pin.title, pin %>
          </h2>
          <p class="user">
            Published By
            <%= link_to pin.user.firstname, "/user/#{pin.user.username}" %>
            <br>
            <%= pin.created_at %>
            <%= pin.user.city %>
            ,
            <%= pin.user.state %>
          <p class="glyphicon glyphicon-heart go_right"></p>
          <p style = "font-size:14px; color:gray"><%= pin.get_upvotes.size %></p>

        </div>
      </div>
  <% end %>
</div>
