<%= form_for([@video,@video.comments.build]) do |f| %>

    <div class = "comment-form-div-field form-field">

      <%= f.text_field :content, class: "form-control comment-form", placeholder: "Publish a public comment" %>

    </div><br><br><br>

    <div class = " form-field">

  <%= f.file_field :image, class: "filestyle image", "data-input" => false %>


</div>


    <div class = " form-field">
      <%= f.file_field :mp3, class: "filestyle mp3", "data-input" => false %>

    </div>

    <div class = "form-field">
      <%= f.submit "Publish Comment" , class: "filestyle submiting btn btn-info" %>

    </div>

    <script>
        $(".image").filestyle({buttonName: "btn-primary", buttonText: "image", iconName: "glyphicon-picture", input: false});
        $(".mp3").filestyle({buttonName: "btn-primary", buttonText: "audio", iconName: "glyphicon-headphones", input: false});

        $(".submitting").filestyle({buttonName: "btn-primary", buttonText: "audio", iconName: "glyphicon-headphones", input: false});

    </script>

<% end %>
