<%= simple_form_for(@chatroom) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div><br><br>

  <div class="form-inputs">
    <%= f.input :body %>
  </div><br><br>


    <div class="form-inputs">
      <%= f.input :image %>
    </div><br><br>

    <div class="form-actions">
    <%= f.button :submit %>
  </div><br><br>
<% end %>
