<%= render 'navs/nav' %>
<%= render 'side_nav' %>

<div class = "container-fluid chatrooms-showpage-chatroom-container" >
  <div class = "col-sm-10 col-sm-offset-2">
<h1><%=  @chatroom.name %></h1>

<div class = "chatrooms-showpage-chatroom-messages-container" data-behavior="messages" data-chatroom-id='<%= @chatroom.id %>'>
  <% @messages.each do |message| %>
      <%= render message  %>
  <% end %>
</div>
    <br>
    <br>
    <br>

    <div class = "chatrooms-showpage-chatroom-input-field">
    <%= form_for [@chatroom, Message.new], remote: true, authenticity_token: true do |f| %>
          <%= f.label "image" , :image %>
        <%= f.file_field :image , class: "form-controler"%>
          <%= f.label "video",  :video %>

          <%= f.file_field :video_file , class: "form-controler"%>


          <%= f.text_field :body , rows: 1 , class: "form-control input-box", autofocus:true%>

  <% end %>
    </div>
</div>
