<%= render 'side_nav' %>

<div class = "container-fluid">
  <div class = "col-sm-10 col-sm-offset-2">
<p>
  <strong>Name:</strong>
  <%= @chatroom.name %>
</p>

<div data-behavior="messages" data-chatroom-id='<%= @chatroom.id %>'>
  <% @messages.each do |message| %>
      <%= render message  %>
  <% end %>
</div>

    <%= form_for [@chatroom, Message.new], remote: true  do |f| %>
      <%= f.text_field :body , rows: 1 , class: "form-control", autofocus:true%>
    <% end %>

</div>
