
<style>
  p,h1,h2,a{
    color:white;
  }
    body{
      overflow-x:hidden;
    }
</style>

<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
<%= render 'navs/videos_top_nav' %>
<%= render 'navs/video_side_bar' %>

<div class = "videos-content">
  <% if @video.mp4? %>

      <video  id="my_video_1" class="video-js vjs-default-skin" width="100%" height="500px"
              preload="auto" autoplay  poster='http://video-js.zencoder.com/oceans-clip.jpg'
              data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2, 2.5, 3.0], "controls":"true" }'
              poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
        <source src="<%= @video.mp4.url %>" type='video/mp4'>
        <source src="<%= @video.mp4.url %>" type='video/webm'>
        <source src="<%= @video.mp4.url %>" type='video/ogg'>
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a web browser that
          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>



      <span style = "font-size:25px; "><img style = "width:50px;height:50px;"src = "https://images.vexels.com/media/users/3/135899/isolated/preview/9d55a1dc7fbba0b7e8873e21b7135626-eye-icon-by-vexels.png"><span style = "font-weight:bold;font-style:italic; color:black !important;"><%= @video.impressionist_count(:filter=>:ip_address) %></span></span>


      <span style = "margin-left:0px; font-size:25px; margin-top:15px;"><%= link_to  like_video_path(@video),class: "like like-btn", method: :put, remote: :true do %>
           <img class = "video-show-heart animated" style = "width:50px;height:50px; margin-top:6px;" src = "https://images.vexels.com/media/users/3/136169/isolated/preview/e42ae42d51ca9b5b6783e408ba8054da-heart-circle-icon-by-vexels.png">
            <span style = "color:black; margin-left:-15px; font-weight:bold; font-style:italic" class = "likes-count"><%= @video.get_upvotes.size  %></span>
      <% end %>
      </span>

      <span style = "font-size:25px;"><%= link_to unlike_video_path(@video),class: "like", method: :put, remote: :true do %>
            <img class = "video-show-broken-heart animated" style = "width:40px;height:40px;" src = "http://cdn.mysitemyway.com/icons-watermarks/flat-circle-white-on-black/classica/classica_broken-heart/classica_broken-heart_flat-circle-white-on-black_512x512.png">
            <span style = "color:black; margin-right:5px !important;padding-right:20px; font-weight:bold; font-style:italic" class = "dislikes-count"><%= @video.get_downvotes.size  %></span>
      <% end %>
      </span>



<% end %>

  <div class = "videoDiv">
    <h1 style = "margin-left:20px;" class = "videoTitle"><%= @video.title %></h1>
    <p style = "margin-left:20px;">Published on <span style = "font-weight:bold; color:black;"><%= @video.created_at.strftime("%-d/%-m/%y") %>  </span></p>
  </div>
    <div><br>
      <div class = "panel">
        <p style = "margin-left:20px; color:grey;font-weight:bold;">Description</p>
    <p style = "margin-left:20px;"><%= @video.description %></p>
        <span style = "margin-left:20px;"><%= raw @video.tag_list.map { |t| link_to t, tag_path(t) , class:'tags'  }.join(' <i class="fa fa-eercast" aria-hidden="true"></i> ') %></span>
    </div>
    </div>






  <div>
    <div class = "container">

    <h1>You may like these videos </h1>

    <div class="homepage-index-slider">

      <div class="slick-codepen2">


        <% @videos.each.with_index do |video,index| %>
            <div class = "hes" data-id="<%= video.id %>">
              <div class = "ccc">
                <a href = "../videos/<%= video.id %>"><%= image_tag video.image.url(:medium), class: "videos-video-chosen-thumbnail-image videos-video-chosen-thumbnail-image#{index}" %></a>
                <div style = "margin-top:185px;">
                  <p class = "videos-video-title"><%= video.title %></p>
                  <p class = "videos-owner-name">by <%= link_to video.user.firstname, "teachers/#{video.user.username}"%></p>
                  <p class = "videos-created-at"><%= video.created_at.strftime(" %b %d, %Y") %>  <i class="fa fa-dot-circle-o" aria-hidden="true"></i> <b><%= video.impressionist_count(:filter=>:ip_address) %></b>
                    <% if video.impressionist_count(:filter=>:ip_address) == 1 %>
                        view
                    <% else %>
                        views
                    <% end %>
                  </p>


                </div>
              </div>
              <% if video.image? %>
                  <a href = "../videos/<%= video.id %>"><%= image_tag video.image.url(:medium), class: "videos-video-chosen-thumbnail-image videos-video-chosen-thumbnail-image#{index}" %></a>
              <% else  %>
                  <a href = "../videos/<%= video.id %>"><%= image_tag video.mp4.url(:thumb), class: "videos-video-chosen-thumbnail-image videos-video-chosen-thumbnail-image#{index}" %></a>
              <% end %>
            </div>
        <% end %>

      </div>

    </div>
    </div>
  </div>
<br>
  <div style = "margin-left:20px;margin-top:-120px; ">
    <%= render 'comments/comment' %>
  </div>
</div>


<script>


    $('.slick-codepen2').slick({
        infinite: true,
        slidesToShow: 5,
        slidesToScroll: 5,
        draggable: false,
        accessibility: true
    });
    $(".slick-slide").css("height","238px");
    $(".slick-prev").css("height","170px");
    $(".slick-prev").css("width","30px");
    $(".slick-next").css("width","30px");
    $(".slick-next").css("left","98%");
    $(".slick-prev").css("opacity","1");
    $(".slick-next").css("opacity","1");
    $(".slick-next").css("height","170px");


    $(".video-show-heart").one("click",function(){
      $(".video-show-broken-heart").removeClass("bounceIn");
      $(".video-show-heart").addClass("bounceIn");
      alertify.success('<span style = "color:white!important;font-weight:bold;font-size:17px;">You liked this video</span><i style = "margin-left:10px;color:red !important; font-size:17px;" class="fa fa-heart" aria-hidden="true"></i>');
  });

  $(".video-show-broken-heart").one("click",function(){
      $(".video-show-heart").removeClass("bounceIn");
      $(".video-show-broken-heart").addClass("bounceIn");
      alertify.success('<span style = "color:white!important;font-weight:bold;font-size:17px;">You don\'t like this video</span><i style = "margin-left:10px;color:white !important; font-size:17px;" class="fa fa-frown-o" aria-hidden="true"></i>');

  });

</script>











