<%= render 'navs/nav' %>

<% if @user.gender == "Male" %>
    <p class = "teachers-owner-occupation" style = ""><%= title = 'Mr.' %></p>
<% else %>
    <p class = "teachers-owner-occupation"></p><% title = 'Ms.' %>
<% end %>

<% if @user.image? %>
  <% margintop = 370 %>

<% else %>
<% margintop = 200 %>
<% end %>

<div style ="background: url(<%= @user.image.url(:large) %>) no-repeat fixed; background-size: 100% 420px; pointer-events: none; margin-top:14px;" class = "img-container">

</div>

<span class = "teachers-owner-span" ></span>





<div class = "container">

  <h1 style = "margin-top: <%=margintop %>px; font-weight: normal;">

    <%= render 'components/follow_button', :user => User.find_by_username(params[:id])%>

    <span class = "teachers-owner-avatar"><%= avatar_for(@user, size:100) %></span>
    <p style = "font-size:34px; font-weight: normal !important; color:white;"><%= title %><%= @user.lastname %> </p>

    <i style = "color:#E94C6F; margin-top: -20px; font-size:20px;" class="fa fa-star" aria-hidden="true"></i><strong><span style = "font-size:20px; "><%= @user.stars %></span></strong>

    <i style = "color:#E94C6F; font-size:20px;" class="fa fa-eercast" aria-hidden="true"></i> <strong><span style = "font-size:20px;"><%= @user.achievements %></span></strong>
    <i style = "color: #E94C6F; font-size:20px;" class="fa fa-book" aria-hidden="true"></i><strong><span style = "font-size:20px;"><%= @user.classrooms.count %></span></strong>
    <i style = "color:#E94C6F; font-size:20px;" class="fa fa-clipboard" aria-hidden="true"></i><strong><span style = "font-size:20px;"><%= @user.pins.count %></span></strong>
    <i style = "color:#E94C6F; font-size:20px;" class="fa fa-user-circle-o" aria-hidden="true"></i><strong><span style = "font-size:20px;"> <%= @user.followers.count %></span></strong>

    <p style = "font-size:14px;"><strong><%= @user.city %> , <%= @user.state %></strong></p>

  </h1><br><br>

  <div class="form-inline">
    <a style = "margin-left: 50px;font-size:14px;">POSTS</a>
    <a style = "margin-left: 50px;font-size:14px;"><%= link_to 'DAILY CALENDER', "/teachers/#{@user.username}/calendar" %></a>

    <a style = "margin-left: 50px; font-size:14px;">CLASSES</a>
    <a style = "margin-left: 50px;  font-size:14px;">DISCUSSIONS</a>

  </div>



<br>
  <% if @user.videos.present? %>
  <h1>Videos</h1>
  <div class="row">
    <% @user.videos.each do |video| %>
        <div  class = "border col-xs-3" style = "width:200px; margin-top:10px;margin-left:10px; height:150px;">
          <% if video.image? %>
            <%= image_tag video.image.url(:medium), class: 'profile-video-size' %>
          <% else %>
            <%= image_tag video.mp4.url(:thumb), class: 'profile-video-size' %>
          <% end %>
          <a href = "../videos/<%= video.id %>"><div style ="position:absolute;top:0;left:0;width:100%;height:100%;">
            <h1 style = "font-size:17px;font-weight:bold; margin-top:100px;"><%= video.title %></h1>
            <p style = "margin-top:-10px; color:rgb(80,80,80)!important;"><%= video.description[0..30] %>
            <% if video.description.size > 30 %> ... <% end %>
            </p>
            <p style = "margin-top:-12px; font-size:13px; color:grey !important; font-style: italic;"><%= video.created_at.strftime(" %b %d, %Y") %></p>
          </div></a>
        </div>
    <% end %>
  </div>
      <% end %>
<br>

  <% if @user.podcasts.present? %>
      <h1>Podcasts</h1>
  <div class="row">
    <% @user.podcasts.each do |podcast| %>
        <div class = "border col-xs-3" style = "width:200px; margin-top:10px;margin-left:10px; height:150px;">
          <%= image_tag podcast.image.url(:medium), class: 'profile-video-size' %>
          <a href = "../podcasts/<%= podcast.id %>" ><div style ="position:absolute;top:0;left:0;width:100%;height:100%;">
            <h1 style = "font-size:17px;font-weight:bold; margin-top:100px;"><%= podcast.title %></h1>
            <% if !podcast.mp3?%>
             <span>You didnt Publish your podcast yet <i class="fa fa-frown-o" aria-hidden="true"></i></span><br>
                <script>
                    alertify.success("<b style = 'color:white!important;'>The podcast <span style = 'color:red;'><%= podcast.title %></span> was not yet published " + '<i style = "font-weight:bold;color:white !important;" class="fa fa-frown-o" aria-hidden="true"></i></b>' );
                </script>
            <% end %>
            <p style = "margin-top:-5px;"><%= podcast.description[0..30] %></p>
            <p style = "margin-top:-12px; font-size:13px; font-style: italic;"><%= podcast.created_at.strftime(" %b %d, %Y") %></p>
          </div></a>
        </div>
    <% end %>
  </div>
      <% end %>

  <% if @user.meets.present? %>

<h1>MeetUps</h1>
  <div class="row">
    <% @user.meets.each do |meet| %>
        <div  class = "border col-xs-3" style = "width:200px; margin-top:10px;margin-left:10px; height:150px;">
          <% if meet.image? %>
              <a href = "../meets/<%= meet.id %>"><%= image_tag meet.image.url(:medium), class: "profile-video-size" %></a>
          <% else %>
              <%= image_tag 'Meets.png' , class: "profile-video-size"  %>
          <% end %>
          <a href = "../meets/<%= meet.id %>"><div style ="position:absolute;top:0;left:0;width:100%;height:100%;">
            <h1 style = "font-size:17px;font-weight:bold; margin-top:100px;"><%= meet.name %></h1>
            <p style = "margin-top:-15px;"><%= meet.description[0..30] %></p>
            <p style = "margin-top:-18px; font-size:13px;"><%= meet.created_at.strftime(" %b %d, %Y") %></p>
          </div></a>
        </div>
    <% end %>
  </div>
      <% end %>


  <% if @user.articles.present? %>

<h1>Articles</h1>
  <div class="row">
    <% @user.articles.each do |article| %>
        <div  class = "border col-xs-3" style = "width:200px; margin-top:10px;margin-left:10px; height:150px;">
          <%= image_tag article.image.url(:medium), class: 'profile-video-size' %>
          <a href = "../meets/<%= article.id %>"><div style ="position:absolute;top:0;left:0;width:100%;height:100%;">
            <h1 style = "font-size:17px;font-weight:bold; margin-top:100px;"><%= article.title %></h1>
            <p style = "margin-top:-10px;"><%= article.description[0..30] %></p>
            <p style = "margin-top:-10px; font-size:13px;"><%= article.created_at.strftime(" %b %d, %Y") %></p>
          </div></a>
        </div>
    <% end %>
  </div>
<% end %>

  <br>
  <% @user.classrooms.each do |classroom| %>


      <div style = "width:40%;" class=" panel panel-default">
        <%= image_tag classroom.image.url(:medium), class:'teacher-image' %>
        <div style = "background:white; height: 100px; width: 100%;"class = "panel ">

          <p style = "margin-top: 20px; padding-left: 30px;"class="user">
            <strong> <%= link_to classroom.fullname.upcase, classroom %>
          <p  style = "color:rgb(190,190,190); padding-left: 30px;"><%= classroom.created_at.strftime(" %b %d, %Y") %></p>

        </div>

      <% end %>


</div>








  <!--<%= pie_chart [["Points",100], ["Stars",20]]  %> -->




