<%= render 'pins/nav' %>

<% if @teacher.gender == "Male" %>
    <p style = "display:none; display:none; position:absolute; top: 0; left: 0;"><%= title = 'Mr.' %></p>
<% else %>
    <p style = "display:none; position:absolute; top: 0; left: 0; "></p><% title = 'Ms.' %>
<% end %>

<% if current_user.image? %>
  <% margintop = 230 %>

<% else %>
<% margintop = 0 %>
<% end %>


<div style ="background: url(<%= current_user.image.url(:large) %>) no-repeat fixed; background-size: 100% 420px;" class = "img-container">

</div>

<span style = "font-weight: bold !important; font-size:14px;"></span>





<div class = "container">

  <h1 style = "margin-top: <%=margintop %>px; font-weight: normal;">

    <% if current_user != @user %>
        <div class = "follow">
          <p class="text-center" style = "color:white; font-size:15px; margin-top:15px; font-weight: bold;  ">Add Teacher</p>
        </div>
    <% else %>



    <% end %>


    <span style = "float:left; padding-right: 30px;"><%= avatar_for(@teacher, size:100) %></span>
    <p style = "font-size:34px; font-weight: normal !important;"><%= title %><%= current_user.lastname %> </p>

    <i style = "color:#E94C6F; margin-top: -20px; font-size:20px;" class="fa fa-star" aria-hidden="true"></i><strong><span style = "font-size:20px; "><%= @teacher.stars %></span></strong>

    <i style = "color:#E94C6F; font-size:20px;" class="fa fa-eercast" aria-hidden="true"></i> <strong><span style = "font-size:20px;"><%= @teacher.achievements %></span></strong>
    <i style = "color: #E94C6F; font-size:20px;" class="fa fa-book" aria-hidden="true"></i><strong><span style = "font-size:20px;"><%= @teacher.classrooms.count %></span></strong>
    <i style = "color:#E94C6F; font-size:20px;" class="fa fa-clipboard" aria-hidden="true"></i><strong><span style = "font-size:20px;"><%= @teacher.pins.count %></span></strong>

    <p style = "font-size:14px;"><strong><%= @teacher.city %> , <%= @teacher.state %></strong></p>

  </h1><br><br>

  <div class="form-inline">
    <a style = "margin-left: 50px; color: rgb(100,100,100); font-size:14px;">POSTS</a>
    <a style = "margin-left: 50px; color: rgb(100,100,100); font-size:14px;">CLASSES</a>
    <a style = "margin-left: 50px; color: rgb(100,100,100); font-size:14px;">DISCUSSIONS</a>

  </div>



  <% if @teacher.classrooms.each.count == 0 && @teacher.pins.each.count == 0 %>
    <img style = "float:left; "class = "nothing-to-show" src = "https://www.mysoti.com/img/user/mediocre/product/web/245878/245878_show_default.png">
      <h1 style = " margin-top:170px; margin-left: -200px;   color: rgb(180,180,180); font-size:33px; font-weight: bold; ">Nothing To Show </h1>
  <% end %>



<br>
  <% @teacher.classrooms.each do |classroom| %>


      <div style = "width:40%;" class=" panel panel-default">
        <%= image_tag classroom.image.url(:medium), class:'teacher-image' %>
        <div style = "background:white; height: 100px; width: 100%;"class = "panel ">

          <p style = "margin-top: 20px; padding-left: 30px;"class="user">
            <strong> <%= link_to classroom.fullname.upcase, classroom %>
          <p style = "color:rgb(190,190,190); padding-left: 30px;"><%= classroom.created_at.strftime(" %b %d, %Y") %></p>

        </div>

      <% end %>


</div>






<!--<%= pie_chart [["Points",100], ["Stars",20]]  %> -->




