<%= render 'navs/pods_top_nav' %>



<!-- Page Content -->
<div style = "margin-top:200px;" class="container">

  <!-- Page Header -->

  <!-- /.row -->

  <div class="row">
    <% @podcasts.each_with_index  do |podcast,i| %>
    <div style = "animation-delay: <%= i * 0.15 %>s" class="col-md-6 portfolio-item animated fadeInUp">
      <a href="#">
        <img style = "width:500px;height:281px;" class="img-responsive" src="<%= podcast.image.url(:medium)%>" alt="">
      </a>
      <h3 style = "margin-top:10px;">
        <a  href="#"><%= podcast.title %></a>
      </h3>
      <p><%= podcast.description %></p>

    </div>
    <% end %>

  </div>


</div>
