<!DOCTYPE html>
<html>
  <head>
    <title>Chalkboard</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.filestyle/1.1.0/js/bootstrap-filestyle.min.js"> </script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">



        <div class="navbar-brand">

          <%= link_to "Chalkboard", root_path %>
        </div>
        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to current_user.state , new_pin_path %>
            </li>
            <li>
              <%= link_to "New Pin", new_pin_path %>
            </li>
            <%= form_tag pins_path, :method => :get, class: "input-group" do %>
                <li>
                  <%= text_field_tag :search, params[:search], class: 'search-box' %>
                </li>
            <% end %>
            <li>
              <%= link_to "Chat", chatrooms_path %>
            </li>

            <li>
              <%= link_to current_user.firstname, edit_user_registration_path %>
            </li>
            <li>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to "Sign Up", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "Sign In", new_user_session_path %>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>
    <div style = "margin-top:100px;" class="container">
      <% flash.each do |name,msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>

