<!DOCTYPE html>
<html>
  <head>
    <title>Chalkboard</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_include_tag '//cdn.pubnub.com/pubnub-dev.js' %>
    <%= stylesheet_link_tag    '//vjs.zencdn.net/5.0.2/video-js.css' %>
    <link rel="shortcut icon" href="../../landing/favicon.png">

    <!-- Bootstrap 3.3.2 -->


    <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
    <script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/bloodhound.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div style = "margin-top:100px;" class="container">
      <% flash.each do |name,msg| %>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>

